
{% extends 'myDB/layout.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
  <form class="form-horizontal" method="post" action="/myDB/login.verify">

      <fieldset>

      <!-- Form Name -->
          <legend><h2>StaticDB Database Login</h2></legend>
      <!-- Text input-->
          {% csrf_token %}
      <div class="form-group">
        <label class="col-md-4 control-label" for="dn">Database Name</label>
        <div class="col-md-5">
        <input id="dn" name="dn" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="psd">Password</label>
        <div class="col-md-5">
          <input id="psd" name="psd" type="password" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary " value="Login" id="loginbtn">
            <button type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off"
            onclick="btn_clicked_nd()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
      </div>

      </fieldset>
  </form>
  <p>

  </p>
    </div>
</div>

{% if msg %}
<h2>
    {{ msg }}
</h2>
{% endif %}
{% endblock %}

{% block script %}

<script>
    function btn_clicked_nd()
    {
        if($('#loginbtn').val() == 'Login')
        {
            $('#loginbtn').val('Create New');
        }
        else
        {
            $('#loginbtn').val('Login');
        }
    }
</script>

{% endblock %}