{% extends 'myDB/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {% if dbname %}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                {% load static %}
                                <img src='{% static "myDB/nosql_logo.png" %}' class="img-responsive">
                            </div>
                            <div class="col-sm-6">
                                <h1 style="color:black;margin-top:10%">
                                    Static DB<br>
                                    <h5 style="font-size:115%;"><code class="language-css">
                                        { name : "Static" , type : "Database" }
                                    </code></h5>
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <h5>
                                    {{ start_msg | linebreaks | title }}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a role="button" href="/myDB/logout" class="btn btn-danger pull-right">Logout</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post"> {% csrf_token %}
                    <fieldset>
                        <!-- Form Name -->
                        <legend>
                            <h4>
                                Connected to - <i>{{ dbname }}</i>
                            </h4>
                        </legend>
                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea id="query" name="query">{% if query %}{{query}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-8">
                                <div class="col-sm-6">
                                    <input type="checkbox" class="input-md" name="auto_commit" {% if cmt %} {{ "checked"
                                    }}{% endif %}>
                                    Auto Commit
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" value="Submit Query" class="btn btn-primary pull-right">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer">
                {% if output %}
                <div class="row">
                    <div class="col-sm-12" id="output_json">
                        <b>Output</b>
                        <pre><code class="language-css">{{ output }}</code></pre>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    window.onload = function () {
        var mime = 'text/x-mariadb';
        // get mime type
        if (window.location.href.indexOf('mime=') > -1) {
            mime = window.location.href.substr(window.location.href.indexOf('mime=') + 5);
        }
        window.editor = CodeMirror.fromTextArea(document.getElementById('query'), {
            mode: mime,
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: true,
            matchBrackets: true,
            autofocus: true,
            extraKeys: {"Ctrl-Space": "autocomplete"},
            hintOptions: {
                tables: {
                    users: {name: null, score: null, birthDate: null},
                    countries: {name: null, population: null, size: null}
                }
            }
        });
    };
</script>
{% endblock %}